/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* ### PLACEHOLDERS ### */

.dashboard-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.nav-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-bar__icon {
  width: 15px;
  height: 15px;
  background-color: #010001;
}

.bell-icon {
  width: 15px;
  height: 15px;
  background-color: #010001;
}

.profile-icon-small {
  width: 28px;
  height: 28px;
  background-color: #fbcc14;
  border-radius: 200px;
}

.profile-icon-big {
  width: 55px;
  height: 55px;
  background-color: #fbcc14;
  border-radius: 200px;
}

.star-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
}

.eye-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
}

.branch-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
}

.trend-icon {
  width: 38px;
  height: 38px;
  background-color: gray;
  border-radius: 200px;
}

/* ### UTILITIES ### */

.grid-spacer-inline {
  display: grid;
  gap: var(--grid-inline-gap, 1rem);
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.grid-spacer-block {
  display: grid;
  gap: var(--grid-block-gap, 1rem);
}

/* ### LAYOUT ### */

body {
  min-height: 100vh;
  font-family: sans-serif;
}

/* ### DASHBOARD ### */

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content";
}

/* ## SIDEBAR ## */

.sidebar {
  --grid-block-gap: 3.5rem;
  padding: 1.125rem;
  grid-area: sidebar;
  background-color: #1993d5;
  color: #fff;
  font-weight: bold;
  align-content: start;
}

.sidebar h1 {
  font-size: 1.5rem;
}

.sidebar ul {
  --grid-block-gap: 1rem;
}

/* ## HEADER ## */

.header {
  grid-area: header;
  background-color: #fefeff;
  padding: 1rem 3.5rem 1rem 2.5rem;
  display: grid;
  grid-template-columns: 60% auto;
  gap: 1.5rem;
  font-weight: bold;
  position: relative;
  box-shadow: 3px 4px 3px #7a7a7a44;
}

/* # SEARCH BAR # */

.header__search-bar {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header__input input {
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 200px;
  background-color: #e3e9f0;
}

/* # PROFILE ACTIONS # */

.header__profile-actions {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  align-items: center;
  padding-inline-end: 1.5rem;
}

/* # PROFILE ID # */

.header__profile-id {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.greeting {
  font-size: 0.8rem;
}

/* # BUTTONS # */

.header__btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
}

.header-btn {
  background-color: #1993d5;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 200px;
}

/* ## MAIN CONTENT ## */

.main-content {
  grid-area: main-content;
  background-color: #e3e9f0;
  padding: 2rem 2.5rem 3rem 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-auto-rows: 1fr 1fr;
}

/* # PROJECTS CONTAINER # */

.main-content__projects-container {
  grid-area: projects;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.projects-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project-card {
  height: 260px;
  background-color: #fff;
  border-inline-start: 8px solid #fbcc14;
  border-radius: 0.4rem;
  box-shadow: 3px 4px 3px #7a7a7a44;
  padding: 2rem 1.5rem;
  display: grid;
  grid-auto-rows: min-content min-content 1fr;
}

.card-title {
  font-weight: bold;
}

.card-description {
  color: #353535;
  max-width: 40ch;
}

.card-icons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  align-self: end;
}

/* # ANNOUNCEMENTS CONTAINER # */

.main-content__announcements-container {
  grid-area: announcements;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.announcements-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.announcements-grid {
  background-color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 0.6rem;
  box-shadow: 3px 4px 3px #7a7a7a44;
  font-size: 0.875rem;
  line-height: 1.3;
  align-self: start;
}

.announcement {
  padding-block: 1.325rem;
}

.announcements-grid > * + * {
  border-block-start: 2px solid rgba(128, 128, 128, 0.301);
}

.announcement-title {
  font-weight: bold;
}

.announcement-description {
  color: #353535;
}
