/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* ### UTILITIES ### */

.grid-spacer-inline {
  display: grid;
  gap: var(--grid-inline-gap, 1rem);
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.grid-spacer-block {
  display: grid;
  gap: var(--grid-block-gap, 1rem);
}

.icon-mirrored svg {
  transform: scaleX(-1);
}

/* ### LAYOUT ### */

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* ### DASHBOARD ### */

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content";
}

/* ## SIDEBAR ## */

.sidebar {
  --grid-block-gap: 3.5rem;
  padding: 1.125rem;
  grid-area: sidebar;
  background-color: #1993d5;
  color: #fff;
  font-weight: bold;
  align-content: start;
  font-size: 1.235rem;
}

.dashboard-icon svg {
  width: 50px;
  height: 50px;
  fill: white;
}

.sidebar h1 {
  font-size: 1.5rem;
}

.sidebar ul {
  --grid-block-gap: 1rem;
}

.nav-icon svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* ## HEADER ## */

.header {
  grid-area: header;
  background-color: #fefeff;
  padding: 1rem 5.5rem 1rem 4rem;
  display: grid;
  grid-template-columns: 65% auto;
  gap: 1.5rem;
  font-weight: bold;
  position: relative;
  box-shadow: 3px 4px 3px #7a7a7a44;
}

.header svg {
  width: 24px;
  height: 24px;
  fill: black;
}

.profile-icon-small svg {
  width: 40px;
  height: 40px;
  background-color: #fbcc14;
  border-radius: 200px;
  fill: white;
}

/* # SEARCH BAR # */

.header__search-bar {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header__input input {
  width: 100%;
  /* height: 25px; */
  border: none;
  border-radius: 200px;
  background-color: #e3e9f0;
  padding-inline-start: 1rem;
  padding-block: 0.3rem;
  font-weight: normal;
}

/* # PROFILE ACTIONS # */

.header__profile-actions {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  align-items: center;
  padding-inline-end: 1.5rem;
  padding-inline-end: 3.5rem;
}

.profile-name-small {
  font-size: 1.125rem;
}

/* # PROFILE ID # */

.profile-icon-big svg {
  width: 60px;
  height: 60px;
  background-color: #fbcc14;
  border-radius: 200px;
  fill: white;
}

.header__profile-id {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.greeting {
  font-size: 0.9rem;
}

.profile-name-big {
  font-size: 1.475rem;
}

/* # BUTTONS # */

.header__btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.header-btn {
  background-color: #1993d5;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 200px;
}

.header-btn:hover {
  text-decoration: underline;
}

/* ## MAIN CONTENT ## */

.main-content {
  grid-area: main-content;
  background-color: #e3e9f0;
  padding: 2rem 2.5rem 3rem 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-auto-rows: 1fr 1fr;
}

/* # PROJECTS CONTAINER # */

.main-content__projects-container {
  grid-area: projects;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.projects-title {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.275rem;
}

.projects-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project-card {
  height: 260px;
  background-color: #fff;
  border-inline-start: 8px solid #fbcc14;
  border-radius: 0.4rem;
  box-shadow: 3px 4px 3px #7a7a7a44;
  padding: 2rem 1.5rem;
  display: grid;
  grid-auto-rows: min-content min-content 1fr;
}

.card-title {
  font-weight: bold;
  font-size: 1.185rem;
}

.card-description {
  color: #353535;
}

.card-icons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  align-self: end;
}

.card-icons svg {
  width: 25px;
  height: 25px;
  fill: black;
}

/* # ANNOUNCEMENTS CONTAINER # */

.main-content__announcements-container {
  grid-area: announcements;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.announcements-title {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.275rem;
}

.announcements-grid {
  background-color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 0.6rem;
  box-shadow: 3px 4px 3px #7a7a7a44;
  font-size: 0.875rem;
  line-height: 1.3;
  align-self: start;
}

.announcement {
  padding-block: 1.325rem;
}

.announcements-grid > * + * {
  border-block-start: 2px solid rgba(128, 128, 128, 0.301);
}

.announcement-title {
  font-weight: bold;
  font-size: 0.925rem;
}

.announcement-description {
  color: #353535;
}

/* # TRENDING CONTAINER # */

.main-content__trending-container {
  grid-area: trending;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.trend-icon svg {
  width: 38px;
  height: 38px;
  border-radius: 200px;
  fill: white;
}

.trending-grid .trend:nth-of-type(1) svg {
  background-color: rgb(61, 189, 147);
}

.trending-grid .trend:nth-of-type(2) svg {
  background-color: rgb(251, 204, 20);
}

.trending-grid .trend:nth-of-type(3) svg {
  background-color: rgb(47, 51, 164);
}

.trending-grid .trend:nth-of-type(4) svg {
  background-color: rgb(158, 43, 152);
}

.trending-title {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.275rem;
}

.trending-grid {
  background-color: #fff;
  padding: 1.5rem 1.5rem 1.8rem;
  border-radius: 0.4rem;
  box-shadow: 3px 4px 3px #7a7a7a44;
  display: grid;
  /* gap: 1rem; */
}

.trend {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.trend-user {
  font-weight: bold;
}

.trend-description {
  color: #353535b4;
}
