/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* ### PLACEHOLDERS ### */

.dashboard-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.nav-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-bar__icon {
  width: 15px;
  height: 15px;
  background-color: #010001;
}

.bell-icon {
  width: 15px;
  height: 15px;
  background-color: #010001;
}

.profile-icon-small {
  width: 28px;
  height: 28px;
  background-color: #fbcc14;
  border-radius: 200px;
}

.profile-icon-big {
  width: 55px;
  height: 55px;
  background-color: #fbcc14;
  border-radius: 200px;
}

.star-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
}

.eye-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
}

.branch-icon {
  width: 20px;
  height: 20px;
  background-color: gray;
}

.trend-icon {
  width: 38px;
  height: 38px;
  background-color: gray;
  border-radius: 200px;
}

/* ### UTILITIES ### */

.grid-spacer-inline {
  display: grid;
  gap: var(--grid-inline-gap, 1rem);
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.grid-spacer-block {
  display: grid;
  gap: var(--grid-block-gap, 1rem);
}

/* ### LAYOUT ### */

body {
  min-height: 100vh;
  font-family: sans-serif;
}

/* ### DASHBOARD ### */

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content";
}

/* ## SIDEBAR ## */

.sidebar {
  --grid-block-gap: 3.5rem;
  padding: 1.125rem;
  grid-area: sidebar;
  background-color: #1993d5;
  color: #fff;
  font-weight: bold;
  align-content: start;
}

.sidebar h1 {
  font-size: 1.5rem;
}

.sidebar ul {
  --grid-block-gap: 1rem;
}
